/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: inline;
}

body {
    line-height: 1;
}

body * {
  border: 2px solid red;
}
ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 5px;
  margin-top:15px;
}

header {
  display: flex;
  width: 100%;
  height: 50px;
  /* text-align: center; */
  line-height: 50px;
  /* background-color: grey; */
  /* box-shadow: 0px 2px 6px #000000; */
  margin-bottom: 30px;
  align-content: center;
  justify-content: space-around;
  /* border-radius: 0px 25px 0 25px; */
}
  
  .header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
  }

  header nav {
      display: flex;
      justify-content: space-between;
      width: 60%;
  }

  /*.header img{
  }*/

  .header a {
    color:black;
  }

  .header:after {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* content: ''; */
    color: black;
}

.header-img {
  margin-top: 60px;
  border-radius: 15px;
}

.section {
  display: flex;
}

.services-header-img {
    display: flex;
    margin-top: 20px;
    width: 100%;
    border-radius: 0px 25px 0 25px;
}

.services-info-img{
    border-radius: 0px 25px 0 25px;
    box-shadow: 0px 2px 6px #000000;
    border: 2px solid black;  
}

.middle-img {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  border-radius: 0px 25px 0 25px;
}

.main {
    width: 100%;
    display: flex;
}

.text-main {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img { 
  width: 49%;
  display: flex;
  border-radius: 0px 25px 0 25px;
}

body {
  margin: 60px;
}

h1 {
    font-size: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
  display:flex;
  flex-direction: row;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border: 1px solid black;
    width: 35%;
    height: 45px;
    border-radius: 0px 25px 0 25px;
}

.box2 {
    background: white;
    border: 1px solid black;
    padding: 3px;
    padding-left: 30px;
    padding-right: 30px;
    /* Box Model: Content Area */
    width: 150px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.features {
  width: 49%;
  display: inline-block;
  text-align:left;
}

.about {
  width: 49%;
  display: inline-block;
  text-align:left;
}

.content-boxes{
    width: 32%;
    display: inline-block;
    text-align:left;
    padding: 10px;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    width: 95%;
    padding: 20px;
  }
.flex-container h2 {
    margin-bottom: 25px;
}
.flex-container p {
    margin-bottom: 20px;
}
.flex-container ul {
    padding-left: 15px;
}
.flex-container li {
    margin-top: 10px;
}
.bottom-box {
    width: 46%;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
}

  .main-content {
    margin: 25px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: center;
    border-radius: 5px;
   }

   .main-content div {
    width: 45%;
    height: 200px;
    margin-bottom: 30px;
    border: 2px solid black;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: center;
    border-radius: 5px;
    padding-left: 15px;
    box-shadow: 0px 2px 6px #000000;
    border-radius: 0px 25px 0 25px;
   }
  
  .digitaldesign {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    border: 2px solid black; 
    padding: 20px;
    line-height: 20px;
    box-shadow: 0px 2px 6px #000000;
  }
  
  .nobox {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 20px;
    padding: 200px;
  }
  
  .uxui {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    border: 2px solid black; 
    padding: 20px;
    line-height: 20px;
    box-shadow: 0px 2px 6px #000000;
  }
  
  hr {
    background-color: #000;
    height: 2px;
    border: none;
    margin-bottom: 1em;
    margin-top: 2em;}
  
  .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3px;
  }
  
  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

@media(max-width: 800px){
nav{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}
.img {
  width: 49%;
  display: flex;
  flex-direction: column;
  border-radius: 0px 25px 0 25px;
  display: none;
}
header{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
    align-items: center;   
    box-sizing: border-box;
}
header a{
  color: black;
}
.text-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
}